<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Lista de compras com AngularJS</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/angular-1.0.1.min.js"></script>
    <script src="js/list.js"></script>
  </head>
  <body>
    <div ng-controller="ListaComprasController">
      <table>
        <thead>
          <tr>
            <td>Produto</td>
            <td>Quantidade</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in itens">
            <td><input type="checkbox" ng-model="item.comprado"></td>
            <td><strong> {{ item.produto }} </strong></td>
            <td> {{ item.quantidade }} </td>
          </tr>
        </tbody>
      </table>
      <form class="form-inline" name="formItem">
        <input type="text" ng-model="item.produto">
        <input type="number" ng-model="item.quantidade">
        <button ng-click="adicionaItem()">Adicionar Item</button>
      </form>
    </div>
  </body>

</html>