<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Lista de compras com AngularJS</title>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    <!--Loading Bootstrap-->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <!--Loading Flat UI-->
    <link href="css/flat-ui.css" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico">
    
  </head>
  <body>
    <div class="row" ng-controller="ListaComprasController">
      <div class="col-md-6 col-md-offset-3">
        <table>
          <thead>
            <tr>
              <td>Produto</td>
              <td>Quantidade</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in itens">
              <td><input type="checkbox" ng-model="item.comprado"></td>
              <td><strong> {{ item.produto }} </strong></td>
              <td> {{ item.quantidade }} </td>
            </tr>
          </tbody>
        </table>
        <form class="form-inline" name="formItem">
          <input type="text" ng-model="item.produto">
          <input type="number" ng-model="item.quantidade">
          <button ng-click="adicionaItem()">Adicionar Item</button>
        </form>
    </div>
    <!-- Load JS here for greater good =============================-->
    <!--Loading AngularJS-->
    <script src="js/angular-1.0.1.min.js"></script>
    <!--Shopping List commands-->
    <script src="js/list.js"></script>
    <!--jQuery-->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <!--Bootstrap-->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <!--Flat UI-->
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="js/jquery.stacktable.js"></script>
    <script src="http://vjs.zencdn.net/4.3/video.js"></script>
    <script src="js/application.js"></script>
  </body>

</html>